extends ../../layouts/default


block content 
	- for (var i = 0; i < sampleValue.length; i++)
		div #{i+1 + ':' + sampleValue[i].name}
			form(role='form',action="#{sampleValue[i].action}",method="post")
				- for (var j = 0; j < sampleValue[i].values.length; j++)
					label #{sampleValue[i].values[j].label}
					input(type='text',name="#{sampleValue[i].values[j].name}",value="#{sampleValue[i].values[j].value}")
					br
				input(type='submit',value='submit')
			br
			br
	